.wrap-empty {
  width: calc(100% - 300px);
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* @media  */

.container {
  min-width: 300px;
}

.wrap-contentmessage {
  /* padding: 10px; */
  padding: 0px;
  margin: 0px;
  width: 70%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 105px);
}

.wrap-contentmessage .loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-image-empty {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (min-width: 768px) and (max-width: 990px) {
  .wrap-contentmessage {
    width: 63%;
  }
}

.header-content {
  padding: 10px;
  /* height: 70px; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.header-receive {
  padding: 10px;
  /* height: 70px; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.header-action {
  display: flex;
  align-self: center;
  padding-right: 10px;
}

.header-avatar {
  align-self: center;
  padding-right: 10px;
}

.header-avatar img {
  object-fit: cover;
}

.header-infor {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.header-infor .name {
  font-weight: 800;
}

.call {
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid rgb(211, 211, 211);
  border-left: 1px solid rgb(211, 211, 211);
  color: #589f39;
  cursor: pointer;
}

.money {
  color: red;
}

@media only screen and (max-width: 768px) {
  .wrap-contentmessage {
    width: 100%;
    min-width: 300px;
    max-width: unset !important;
    border-top: 1px solid rgb(51, 51, 51);
  }
}

/*

@media only screen and (min-width: 1600px) {
  .wrap-contentmessage .content {
    // height: calc(100vh - 336px) !important; 
  }
}

@media only screen and (max-width: 990px) {
  .wrap-contentmessage .content {
    height: calc(100vh - 306px) !important;
  }
}
*/
@media only screen and (max-width: 768px) {
  .wrap-contentmessage .content {
    height: 500px !important;
  }
}

.wrap-contentmessage .content {
  height: calc(100vh - 326px);
  background-color: #ececec;
  padding: 10px;
  overflow-y: auto;
  flex: 1;
}

.content .wrap-item-message-left {
  display: flex;
  width: 100%;
  margin: 3px 0px;
  align-items: flex-end;
}

.content .wrap-item-message-right {
  display: flex;
  width: 100%;
  margin: 3px 0px;
}

.wrap-item-message-left {
  justify-content: flex-start;
}

.wrap-item-message-right {
  justify-content: flex-end;
}

.text-message-wrapper {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
.text-message-wrapper-left {
  align-items: flex-start;
}
.text-message-wrapper-right {
  align-items: flex-end;
}

.text-message {
  padding: 10px 10px;
  background-color: #ffff;
  width: max-content;
  max-width: 100%;
  word-wrap: break-word;
  cursor: pointer;
}
.text-message-wrapper .seen {
  font-size: 13px;
  text-transform: italic;
  color: #343a40;
  height: 0;
  display: block;
  transition: all 0.2s;
  overflow: hidden;
}

.text-message-wrapper .seen.active {
  height: 20px;
}

/* message guest */

.wrap-item-message-left .position-top-left {
  border-top-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
}

.wrap-item-message-left .position-mid-left {
  border-top-right-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
}

.wrap-item-message-left .position-bottom-left {
  border-bottom-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
}

/* message send*/

.wrap-item-message-right .position-top-right {
  border-top-right-radius: 1.3em;
  border-top-left-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
  background-color: #009e7eaf;
}

.wrap-item-message-right .position-mid-right {
  border-top-left-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
  background-color: #009e7eaf;
}

.wrap-item-message-right .position-bottom-right {
  border-bottom-right-radius: 1.3em;
  border-top-left-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
  background-color: #009e7eaf;
}

.content .time-space {
  text-align: center;
  margin: 10px 0px;
}

.footer-chat {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  bottom: 0;
  left: 0;
}

.wrap-suggest {
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 0px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: auto;
  /* display: table; */
  /* overflow-x: scroll; */
}

.wrap-suggest .text-suggest {
  cursor: pointer;
  padding: 2px 5px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #009e7f;
  margin-right: 10px;
  margin-bottom: 5px;
}

.wrap-enter-chat {
  display: flex;
  height: 52px;
  width: 100%;
  /* background-color: black; */
  padding: 0px 8px;
  padding-top: 0px;
  align-items: center;
  position: relative;
}

.wrap-input-chat .input-chat {
  width: calc(100% - 20px);
  border-radius: 15px;
  padding: 2px 10px;
  background-color: #ececec;
  outline: none;
  height: 36px;
  border: 1px solid white;
}

.wrap-enter-chat .icon {
  color: #009e7f;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  min-width: 24px;
}

.wrap-enter-chat .wrap-input-chat {
  width: calc(100% - 85px);
}

.wrap-enter-chat .btn-send {
  position: absolute;
  /* padding-top: 2px; */
  top: 12px;
  right: 15px;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2px; */
  font-size: 17px;
  cursor: pointer;
  color: #009e7f;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #009e7f;
  width: 30px;
  height: 30px;
  transition: all 0.2s;
}
.wrap-enter-chat .btn-send:hover {
  background-color: #009e7f;
  color: #fff;
}

/* .wrap-enter-chat .btn-send:hover {
  color: #009e7f;
  background-color: transparent;
} */

/* //todo */

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(156, 156, 156);
}
